body {
  padding-top: 50px;
}

#resultList > li {
    text-align: left;
    margin: 2rem;
    border: 2px black solid;
    width: 100%;
    list-style-type: none;
}

#resultList > li > img {
    width: 50%;
    display: inline-block;
}

#resultList > li > div {
    display: inline-block;
    margin-left: 20px;
    font-weight: normal;
    vertical-align: middle;
}

footer {
    text-align: center;
    width: 100%;
    background: black;
    color: white;
}

