body {
  padding-top: 50px;
}

#resultList > li {
    text-align: left;
    margin: 2rem;
    border: 2px black solid;
    width: 100%;
    list-style-type: none;
    float: left;
}

#resultList > li > img {
    width: 50%;
    float: left;
}

